/* Place CSS styles here */
/* Body */
body {
    background-color: rgb(218, 213, 239);
  }
  
  h2{
    color: blue;
  }
  


/* Style buttons */
  .button {
   color: aqua;
   background-color: rgb(87, 47, 230);
   border-radius: 8px;
   border: none;
   cursor: pointer;
   padding: 12px;
  }
  
  .button:hover,
  .button:focus {
    background-color: rgb(96, 225, 135);
    }
  
  .button:focus {
  border: 1px solid #d3d136;
  }
  
  .button-small {
    color: rgb(10, 9, 10);
    background-color: rgb(162, 142, 234);
    border-radius: 16px;
    padding: 6px;
   }

   /* HEADER STYLES */
.main-header {
    display: flex;
    justify-content: space-between;
  }
  
  /* START HOMEPAGE STYLES */
  
  /* END HOMEPAGE STYLES */
  
  /* START ABOUT STYLES */
  .about-wrapper {
  
  }
  /* END ABOUT STYLES */
  
  .items {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
  }
  Footer
  © 2022 Git