/* Place CSS styles here */
body {
  background-color: rgb(248, 231, 176);
}

h2 {
    color: blue;
    background-color: #3e299b;
    color: #efefef;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 12px;
  justify-content: center;
  }
  
  .uglybutton {
    color: orange;
  }
  
  #container {
    color: purple;
  }
  
  .begining {
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: "hwt-artz",sans-serif;
}

  .button {
    background-color: #3e299b;
    color: #efefef;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 16px;
  justify-content: center;
  }
  
  /* HEADER STYLES */
  .main-header {
    display: flex;
    justify-content: space-between;
  }
  
.main-nav {
  display: flex;
}

.main-nav .button {
  margin-right: 8px;
  border: 1px solid black;
}

.page-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 31px;
  font-weight: bold;
}

  /* START ABOUT STYLES */
  .about-wrapper {
  }
  .about-featured-items {
    display: flex;
    justify-content: center;
    margin-right: 8px  
  }

  .item-description {
    text-align: center;
    font-size: 31px;
    font-weight: bold;
  }

  /* END ABOUT STYLES */
  .items {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
  }